<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to the Analytics Rating App</h1>

  <h2>A Rails application where you can rate analytics related courses.</h2>
  <div class="flex">
  <h3><%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %></h3>
  &nbsp;&nbsp;
  <h3><%= link_to "Log In with Facebook", '/auth/facebook', class: "btn btn-lg btn-primary" %></h3>
  &nbsp;&nbsp;
  <h3><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></h3>
  </div>
</div>
