<li>
  <%= image_tag("rails.png") %>
  Course: <%= link_to course.name, course %>

  <% if current_student && current_student.admin? %>
    | <%= link_to "delete", student, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</li>
