<% provide(:title, 'All courses') %>
<h1>Courses</h1>

<h3><%= link_to 'Create and Rate a Course!', new_course_path %></h3>

<%= will_paginate @courses%>
<ul class="students">
  <%= render @courses %>
</ul>

<%= will_paginate @courses%>
<br>
