<% provide(:title, 'All courses') %>
<h1>Courses</h1>

<%= will_paginate @courses%>

<ul class="students">
  <% @courses.each do |course| %>
  <%= render @courses %>
  <% end %>
</ul>

<%= will_paginate @courses%>
