<% provide(:title, 'Top courses') %>
<h1>Top 5 Rated Courses</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul id="check-mark">
        <%@courses.each do |c|
            @c = Course.find(c[0])
            %>
        <li> <%= @c.name  %> - <%= c[1]  %></li>
      <%end%>
    </ul>
  </div>
</div>
