<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Analytics Rating App - Developed by Rafael Lopez.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>


    <%= yield %>
  </body>
</html>
